/* **** CHARACTER LIST PAGE **** */

.character-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.2rem;
  align-items: stretch;
  margin-top: 1.5rem;
  width: 100%;
}

.character-card {
  position: relative;
  background: var(--color-bg-card);
  /* border-radius: 20px; */
  padding: 1.5rem 1.25rem 1.25rem;
  border: 2px solid var(--color-border);
  /* box-shadow: 0 10px 18px rgba(0, 0, 0, 0.35),
    0 0 0 3px rgba(255, 248, 220, 0.5); */

  box-shadow: 0 4px 12px var(--color-shadow);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* gap: 0.75rem; */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.character-card:hover {
  transform: translateX(-4px);
  box-shadow: 0 8px 20px var(--color-shadow-dark);
}

.character-card-top-section {
  background: (--color-bg-section);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.character-card h2 {
  font-family: "Cinzel", serif;
  margin: 0.25rem 0;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-light);
}

.character-card-btns {
  /* margin-top: auto;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between; */
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  border-top: 2px solid var(--color-border);
}

.character-card-btns button {
  /* flex: 1;
  font-size: 0.85rem;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border: 1px solid #b08a57; */
  flex: 1;
  background: var(--color-secondary-dark);
  color: var(--color-text-light);
  border: none;
  border-right: 1px solid var(--color-border-dark);
  padding: 0.75rem 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: inherit;
}

.character-card img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  /* border-radius: 50%; */
  padding: 4px;
  background: radial-gradient(circle at 30% 20%, #fff7dd, #d2a45b);
  border: 3px solid var(--color-accent-gold);
  box-shadow: 0 0 0 2px var(--color-primary), 0 4px 8px var(--color-shadow-dark);
}

.character-card ul {
  list-style: none;
  padding: 0;
  margin: 0.25rem 0 0;
  width: 100%;
  background: var(--color-primary-light);
  flex-grow: 1;
  text-transform: uppercase;
}

.character-card li {
  /* font-size: 0.95rem;
  margin: 0.15rem 0;
  display: flex;
  justify-content: center;
  gap: 0.35rem;
  color: #4a301b; */
  font-size: 0.9rem;
  margin: 0.35rem 0;
  color: var(--color-text-medium);
  text-align: center;
}

.character-card li strong {
  color: var(--color-text-light);
  letter-spacing: -0.25rem;
}

.card-text {
  font-weight: 700;
}
